:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  margin: 0;
}

p,
span,
a,
li {
  font-family: var(--second-family);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  flex: 1;
}
