.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 48px 24px;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.listItem {
  border-radius: 14px;
  background: var(--white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.boxCar {
  position: relative;
}

.image {
  margin-bottom: 16px;
  border-radius: 14px;
  width: 100%;
  height: 268px;
  object-fit: cover;
}

.button {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.button_icon {
  display: block;
  fill: var(--badges);
}

.button_icon_blue {
  fill: var(--button);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.blue_text {
  color: var(--button);
}

.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  margin-bottom: 4px;
}

.mileage {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  margin-bottom: 28px;
}

.link_button {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  border-radius: 12px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.link_button:hover {
  background: var(--button-hover);
}
