.booking {
}

.image {
  margin-bottom: 40px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.carImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.bookInfo {
  margin-bottom: 24px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  padding: 14px 20px;
  border-radius: 12px;
  background: var(--inputs);
  border: 1px solid transparent;
  outline: none;
}

.field {
  padding: 12px 20px 56px 20px;
  background: var(--inputs);
  border-radius: 12px;
}

.btn {
  padding: 12px 58px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  border-radius: 12px;
  background: var(--button);
  cursor: pointer;
}

.btn:hover {
  background: var(--button-hover);
}

.detailsTitle {
  margin-bottom: 8px;
}

.detailsTitleH {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--main);
}

.detailsSpan {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.location {
  margin-bottom: 32px;
}

.locationInfo {
  margin-bottom: 16px;
}

.locationInfoPrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.carInfo {
}

.rental {
  margin-bottom: 110px;
}

.rentalTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

.rentalList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rentalItem {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.rental_icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.specifications {
  margin-bottom: 110px;
}

.specificationsTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

.specificationsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specificationsItem {
}

.functional {
}

.functionalTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.accessoriesList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.functionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
