.wrapper {
  display: flex;
  gap: 72px;
  padding-bottom: 104px;
}

.wrapperLeft {
  display: flex;
  flex-wrap: wrap;
  margin-top: 84px;
  gap: 40px;
}

.image {
  width: 100%;
  border-radius: 19px;
  overflow: hidden;
}

.carImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.bookInfo {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.bookForm {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  padding: 14px 20px;
  border-radius: 12px;
  background: var(--inputs);
  border: 1px solid transparent;
  outline: none;
}

.date {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  border-radius: 12px;
  padding: 12px 20px;
  background: var(--inputs);
  border: 1px solid transparent;
  outline: none;
}

.btn {
  padding: 12px 58px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  border-radius: 12px;
  background: var(--button);
  cursor: pointer;
  max-width: 156px;
  margin: 0 auto;
}

.btn:hover {
  background: var(--button-hover);
}

.wrapperRight {
  display: flex;
  flex-wrap: wrap;
  margin-top: 104px;
}

.detail {
  margin-bottom: 68px;
}

.details {
  margin-bottom: 8px;
}

.detailsTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.location {
  margin-bottom: 32px;
}

.locationInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.location_icon {
  margin-right: 2px;
  display: block;
}

.locationSpan {
  margin-left: 16px;
}

.locationInfoPrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
}

.rental {
  margin-bottom: 110px;
}

.rentalTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

.rentalList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rentalItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.rental_icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: block;
}

.infoText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.specifications {
  margin-bottom: 110px;
}

.specificationsTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

.specificationsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.specificationsItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.functionalTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

.accessoriesList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.accessoriesItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.functionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
