.wrapper {
  position: relative;
  width: 204px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  margin-bottom: 8px;
}

.toggle {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  padding: 12px 16px;
  background: var(--inputs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.rotate {
  rotate: 180deg;
  transition: 0.25s;
}

.list {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: var(--white);
  border: 1px solid var(--inputs);
  border-radius: 12px;
  max-height: 272px;
  overflow-y: auto;
  padding: 8px 0;
  z-index: 10;
}

.item {
  padding: 12px 16px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.item:hover {
  color: var(--main);
}
